*{
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* header */

.header{
   min-width: 120rem;
   border-bottom:1px solid gainsboro;
}

.logo{
  float: left;
  padding: 24px 23px ;
}
.user-head{
  float: right;
  padding: 12px 40px 12px 0px;
  margin-right: 40px;
}
.logout-button{
  float: left;
  margin-left: 1490px;
  padding: 31px 0px;
}

/* sub-header Organizations */

.sub-header{
  width:85%;
  float: right;
}

.sub-header-wrapper{
  padding:10px 40px;
}
.s-h-left{
  float: left;
}
.s-h-middle{
  float: left;
  margin-left: 360px;
  border: 3px solid #F5F5F6 ;
  border-radius: 5px;
}
.s-h-right{
  float: right;
}

.s-h-l-text1{
  font-family: Helvetica Now Text ;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left; 
}
.s-h-l-text2{
  font-family: Helvetica Now Text ;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #9298A3;
}

.s-h-right button{
  background-color: #99DBC1;
  font-family: Helvetica Now Text ;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding: 18px 11px 14px 11px;
  border-radius: 10px;
  border-style: none;
}
.s-h-middle input{
  min-width: 24rem;
  padding: 14px;
  border: none;
 
}

.search-icon{
  float: left;
  padding: 10px;
}

.s-h-middle input::placeholder{
  font-family: Helvetica Now Text ;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #9298A3;
  
}
/* sub header learners */

.btn-1{
  float: left;
 
}
.btn-1 button{
  color: #13171F;
  background-color: white;
  border: 1px solid black;
}
.btn-2{
  float: left;
  margin-left: 30px;
}

/* side bar Organization*/

.side-bar-wrapper{
  float: left;
  background-color: #13171F;
  width: 15%;
}

.side-bar-wrapper ul {
  list-style: none;
  color: #DFE3EA;
}

.side-bar-wrapper ul li {
  font-family: Helvetica Now Text ;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding: 15px 10px;
}

.side-bar-wrapper ul li:hover {
    background-color: #2E323A;
} 
.side-bar-wrapper ul li:first-child{
  background-color: #2E323A;

}
.icon{
  float: left;
  padding: 5px;
}

.list-item {
  float: left;
  padding: 5px;

}
.arrow{
  float: left;
  padding: 5px;
  float: right;

}
.setting-wrapper{
  background-color: #13171F;
}
.setting-wrapper:hover{
  background-color: #2E323A;

}
.setting-wrapper .icon{
  padding: 15px 10px;
}

.setting{
  font-family: Helvetica Now Text ;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding: 15px 10px;
  color: #DFE3EA;
  float: left;
  
}

.empty-space-0{
  width: 100%;
  height: 500px;
  float: left;
  background-color: #13171F;

}

/* sidebar learners */

.L-sidebar-wrapper{
  float: left;
  background-color: #21252C;
  width: 15%;
}

.L-sidebar-left{
  width: 20%;
  background-color: #13171F;
  float: left;
}

.L-sidebar-left ul li {
  padding: 15px 10px;
}

.L-sidebar-left ul li:hover {
    background-color: #2E323A;
} 

.L-sidebar-right{
  width: 80%;
  float: right;
}
.L-header-wrapper{
  padding: 15px 0px;
  border-bottom:1px solid #2E323A ;
  width: 100%;
  float: left;
}

.L-header-wrapper:hover{
  background-color: #2E323A ;
}
.learners-arrow{
  float: left;
  padding: 15px 10px;
  width: 10%;
}
.learners-header{
  font-family: Helvetica Now Text ;
  font-size: 22px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding: 15px 10px;
  color: #DFE3EA;
  float: right;
  width: 70%;
}
.learners-body{
  float: left;
  width: 100%;
}
.learners-body ul{
  list-style: none;
  color: #DFE3EA;
  padding: 15px 10px;
}
.learners-body ul li{
  font-family: Helvetica Now Text ;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  padding: 22px 10px;
}
.learners-body ul li:hover{
  background-color: #2E323A ;
}
.setting-icon{
  padding: 15px 0px;
  float: left;
  width: 100%;
}
.setting-icon:hover{
  background-color: #2E323A ;
}

/* body */
.body{
  float: left;
  background-color: #f2f4f7;
  width: 85%;
}

.body-header{
  width: 100%;
}
.body-header p{
  float: left;
  font-family: Helvetica Now Text ;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #6B7079;
  width: 15%;
  padding: 20px 0px 10px 0px;
}
.empty-space-1{
  float: left;
  width: 85%;
}

/* organizations table */

.o-t-wrapper{
  width:97% ;
  margin: 10px auto;
  background-color: #FFFFFF;
}
.organizations-upper{
  width: 100%;
  padding: 20px;
}
.o-u-left{
  float: left;
}

.o-u-left ul {
  list-style: none;
}
.o-u-left ul li {
   display: inline;
   padding: 20px 20px 5px 20px;
   font-family: Helvetica Now Text ;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #A4A4A6;
}
.o-u-left ul li:active{
  border-bottom: 4px solid  #6F75BC;
  color: #13171F;
}

.o-u-left ul li:first-child{
  border-bottom: 4px solid  #6F75BC;
  color: #13171F;
}
.o-u-right{
  float: right;
  width: 8%;
  padding: 0px 30px;
}

.filter-icon{
  float: left;
}
.o-u-right a{
  text-decoration: none;
  color: black;
}

.organizations-lower{
  width: 85%;
}

.org-table{
  width: 100%;
}
.org-table th {
  font-family: Helvetica Now Text ;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #A4A4A6;
  padding: 5px 15px;
}

.red{
  color:red;
}

.org-table td {
  font-family: Helvetica Now Text ;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  padding: 10px 15px;
}

.checkbox-wrapper{
  float: left;
  padding: 5px;
}

.dropdown{
  float: left;
}










